@import "../main//variables.scss";
.artWork {
  position: relative;
  width: 100%;
  max-width: rem(1600px);
  margin-top: rem(60px);
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  overflow: hidden;
  &__piece {
    width: 100%;
    display: flex;

    position: relative;
    overflow: hidden;

    &-image {
      max-width: 100%;
      height: max-content;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: rem(360px);
    transition: transform 0.3s ease;
    @include breakpoint(xs) {
      width: rem(480px);
    }

    @include breakpoint(sm) {
      width: rem(380px);
    }

    @include breakpoint(md) {
      width: rem(329px);
    }
    @include breakpoint(lg) {
      transform: translateY(100%);

      width: rem(398px);
    }

    @include breakpoint(xl) {
      width: rem(496px);
    }

    &--show {
      @include breakpoint(lg) {
        transform: translateY(0);
      }
    }
  }

  &__artName {
    display: inline-block;
    font-family: "Inter";
    padding: rem(10px);
    padding-right: rem(20px);
    background-color: white;
  }
}

.artDetails {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff59;
  backdrop-filter: blur(50px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__nav {
    width: 100%;
    height: rem(60px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: rem(15px);
    margin-top: rem(60px);
    max-width: rem(1200px);
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    height: 100%;
    width: rem(40px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 51;
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: black;
      border-radius: 2px;
      top: calc(50% - 2px);
      left: calc(50% - 15px);
    }

    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    max-width: rem(1200px);
    position: relative;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    @include breakpoint(md) {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(sm) {
      align-items: center;
      &--portrait {
        align-items: flex-start;
      }
    }
  }

  &__info {
    width: 100%;
    height: rem(300px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: rem(20px);
    padding-right: rem(20px);
    padding-bottom: rem(100px);

    @include breakpoint(xs) {
      padding-left: rem(40px);
      padding-right: rem(40px);
    }

    @include breakpoint(sm) {
      height: auto;
      justify-content: center;
      padding-bottom: 0;
      padding-right: rem(60px);
      overflow: hidden;
    }

    & > p {
      font-family: "Inter";
      text-align: center;
      font-size: rem(18px);
      line-height: rem(25px);

      @include breakpoint(sm) {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
      }
    }
  }

  &__title {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    font-size: rem(22px);
    text-transform: uppercase;
    letter-spacing: rem(3px);
    font-family: "Inter";
    width: 100%;
    text-align: center;

    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: block;
      text-align: left;
    }

    &--row {
      display: none;

      @include breakpoint(sm) {
        display: block;
        width: 100%;
        text-align: center;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }

  &__image {
    width: rem(360px);
    height: max-content;
    display: flex;

    @include breakpoint(sm) {
      width: rem(380px);
    }

    @include breakpoint(md) {
      width: rem(450px);
    }
    @include breakpoint(lg) {
      width: rem(500px);
    }

    &--portrait {
      width: rem(270px);

      @include breakpoint(sm) {
        width: rem(345px);
      }

      @include breakpoint(md) {
        width: rem(328px);
      }

      @include breakpoint(lg) {
        width: rem(397px);
      }
    }
  }
}
