@import "../main/variables.scss";

.defaultHero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__landscape {
    background-color: blue;
    width: rem(350px);
    height: rem(280px);

    @include breakpoint(xs) {
      width: rem(360px);
      height: rem(300px);
    }

    @include breakpoint(sm) {
      width: rem(576px);
      height: rem(440px);
    }
    @include breakpoint(md) {
      width: rem(720px);
      height: rem(550px);
    }

    @include breakpoint(xl) {
      width: rem(864px);
      height: rem(660px);
    }
  }
}
