@import "../main/variables.scss";

.mainHero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  &__wrapper {
    width: rem(350px);
    height: rem(300px);
    border: solid black 1px;

    @include breakpoint(xs) {
      width: rem(450px);
      height: rem(300px);
    }

    @include breakpoint(sm) {
      width: rem(720px);
      height: rem(440px);
    }
    @include breakpoint(md) {
      width: rem(900px);
      height: rem(550px);
    }

    @include breakpoint(xl) {
      width: rem(1080px);
      height: rem(660px);
    }
  }
}
