@import "../main/variables.scss";

.mainHero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: rem(700px);
    height: rem(500px);
    border: solid black 1px;
  }
}
